<!-- ============================================================
     FOOTER
     ============================================================ -->
<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__brand">
        <img src="assets/images/logo.png" alt="OnSuite" class="footer__logo" style="filter:brightness(0) invert(1)" width="140" height="32">
        <p class="footer__desc">Fabrikanizi tek bir akilli platformdan yonetin. Siskon Otomasyon'un uretim yonetim cozumu.</p>
      </div>
      <div class="footer__col">
        <h6 class="footer__heading" data-accordion>Platform</h6>
        <ul class="footer__links">
          <li><a href="#">Genel Bakis</a></li>
          <li><a href="#">OEE & Performans</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Entegrasyon</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="footer__heading" data-accordion>Moduller</h6>
        <ul class="footer__links">
          <li><a href="/moduller/ontrace">OnTrace</a></li>
          <li><a href="/moduller/onoptima">OnOptima</a></li>
          <li><a href="/moduller/onoee">OnOEE</a></li>
          <li><a href="/moduller/onintegra">OnIntegra</a></li>
          <li><a href="/moduller/oncnc">OnCNC</a></li>
          <li><a href="/moduller/ontmc">OnTMC</a></li>
          <li><a href="/moduller/onsmartforms">OnSmartForms</a></li>
          <li><a href="/moduller/onmonitora">OnMonitora</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="footer__heading" data-accordion>Sirket</h6>
        <ul class="footer__links">
          <li><a href="/hakkimizda">Hakkimizda</a></li>
          <li><a href="#">Kariyer</a></li>
          <li><a href="#">Iletisim</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <h6 class="footer__heading footer__heading--sub" data-accordion>Kaynaklar</h6>
        <ul class="footer__links">
          <li><a href="#">Case Study</a></li>
          <li><a href="#">Referanslar</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-left">
        <p class="footer__copy">&copy; <%= data.site.copyright %></p>
        <div class="footer__legal">
          <a href="#">Gizlilik Politikasi</a>
          <span aria-hidden="true">&middot;</span>
          <a href="#">Cerez Politikasi</a>
        </div>
      </div>
      <div class="footer__bottom-right">
        <div class="lang-switch">
          <button class="lang-switch__btn lang-switch__btn--active" style="color:#fff">TR</button>
          <span class="lang-switch__sep" style="color:rgba(255,255,255,.3)">|</span>
          <button class="lang-switch__btn" style="color:rgba(255,255,255,.4)">EN</button>
        </div>
        <div class="footer__social">
          <a href="#" aria-label="LinkedIn" class="footer__social-link"><svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 01-2.063-2.065 2.064 2.064 0 112.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/></svg></a>
          <a href="#" aria-label="YouTube" class="footer__social-link"><svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M23.498 6.186a3.016 3.016 0 00-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 00.502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 002.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 002.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/></svg></a>
        </div>
      </div>
    </div>
  </div>
</footer>
